<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layaout"
      layout:decorate="/layouts/_mainLayout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Crear DocenteGrupo</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Crear nuevo DocenteGrupo</h1>
    <form th:action="@{/DocenteGrupos/save}" th:object="${docenteGrupo}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="docente">Docente</label>
                    <select class="form-control" th:field="*{docente}" id="docente" required>
                        <option th:each="docente : ${docentes}" th:value="${docente.id}" th:text="${docente.nombre}">Seleccionar Docente</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="grupo">Grupo</label>
                    <select class="form-control" th:field="*{grupo}" id="grupo" required>
                        <option th:each="grupo : ${grupos}" th:value="${grupo.id}" th:text="${grupo.nombre}">Seleccionar Grupo</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="año">Año</label>
                    <input type="text" class="form-control" th:field="*{año}" id="año" placeholder="escriba el año" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ciclo">Ciclo</label>
                    <input type="text" class="form-control" th:field="*{ciclo}" id="ciclo" placeholder="escriba el ciclo" required>
                </div>
            </div>
        </div>

        <hr>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/docenteGrupos}" class="btn btn-secondary">Regresar</a>
    </form>
</div>
</body>
</html>
