<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layaout"
      layout:decorate="/layouts/_mainLayout"
      xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content" >
    <h1>Edtiar docente</h1>


    <form th:action="@{/docentes/save}" th:object="${docentes}" method="post">
        <input type="hidden" th:field="*{id}" >
        <div class="row" >
            <div class="col-md-6">
                <div class="form.group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el nuevo nombre">
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-6">
                <div class="form.group">
                    <label for="apellido">apellido</label>
                    <input type="text" class="form-control" th:field="*{apellido}" id="apellido" placeholder="Escriba el nuevo apellido">
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-6">
                <div class="form.group">
                    <label for="email">email</label>
                    <input type="text" class="form-control" th:field="*{email}" id="email" placeholder="Escriba el nuevo email">
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-6">
                <div class="form.group">
                    <label for="telefono">telefono</label>
                    <input type="text" class="form-control" th:field="*{telefono}" id="telefono" placeholder="Escriba el nuevo telefono">
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-6">
                <div class="form.group">
                    <label for="escuela">escuela</label>
                    <input type="text" class="form-control" th:field="*{escuela}" id="escuela" placeholder="Escriba el nuevo telefono">
                </div>
            </div>
        </div>
        <hr/>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        <a th:herf="@{/docentes}">Regresar</a>
    </form>
</div>


</html>