<!DOCTYPE html>
<html xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="/layouts/_mainLayout">
<head>
    <title>Crear Grupo</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Crear Nuevo Grupo</h1>
    <form th:action="@{/grupos/save}" th:object="${grupos}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el nombre del grupo" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" th:field="*{descripcion}" id="descripcion" placeholder="Escriba la descripción del grupo" required>
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/grupos}" class="btn btn-secondary">Regresar</a>
    </form>
</div>
</body>
</html>

